body {
  background-color: rgb(0, 57, 92);
}
form {
  max-width: 680px;
  margin: 20px auto;
  background-color: rgb(171, 215, 243);
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
}
fieldset {
  border: none;
  margin-bottom: 20px;
  padding: 0;
}
legend {
  font-size: 1.25em;
  margin-bottom: 15px;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid green;
}
input[type="text"],
input[type="email"] {
  border-color: black;
  outline: none;
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: rgba(0, 0, 255, 0.53);
}
button {
  background-color: rgb(0, 57, 92);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  margin-right: 10px;
  float: right;
}
button:hover {
  background-color: rgb(0, 117, 189);
}
button:disabled {
  background-color: rgba(0, 57, 92, 0.325);
  cursor: not-allowed;
}
/* Error Messages */
/* ~ denotes sibling - double check this */
input:invalid ~ .error-message {
  color: rgb(159, 38, 38);
  font-size: 0.8em;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.error-message {
  display: none;
  color: rgb(159, 38, 38);
  font-size: 0.8em;
  margin-bottom: 10px;
}
.tooltip {
  /* display: none; */
  position: absolute;
  background-color: rgba(216, 150, 26, 0.818);
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  width: 200px;
  top: 100%;
  left: 0;
  margin-top: -10px;
  z-index: 10;
  /* Look up z-index for explanation */
}

.form-group:hover .tooltip,
.form-group:focus + .tooltip {
  display: block;
}
